* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    color: white; }
    header nav ul a {
      display: flex;
      display: inline;
      justify-content: space-between;
      align-items: center;
      font-size: 2rem;
      color: white;
      font-weight: bold;
      text-shadow: 2px 2px 2px #B4A5A5;
      text-decoration: none;
      list-style: none;
      padding: 8px; }
    header nav ul li:hover {
      color: white;
      cursor: pointer;
      transition: 1s;
      text-shadow: none;
      text-decoration: underline; }

.imagenLogo {
  width: 70px;
  height: 70px;
  margin: 10px; }

div a {
  cursor: pointer; }

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 10rem;
  justify-items: center; }

.textoSubtitulo {
  font-size: 3rem;
  word-spacing: 5px;
  line-height: 70px;
  text-align: left; }

.textoPar {
  font-size: 2rem;
  word-spacing: 5px;
  line-height: 22px;
  text-align: justify; }

.gradiente {
  background-image: linear-gradient(to bottom, #560764, #BB8FA9, #D8CBBB, #EEEEEE); }

footer {
  padding: 10px;
  color: #301B3F;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  footer a {
    color: #301B3F;
    text-decoration: none; }

.cards {
  display: flex;
  align-content: space-between;
  width: 400px;
  margin: 10px;
  padding: 5px;
  background-color: #D8CBBB;
  justify-content: center; }

.fotoTraductora {
  border-radius: 30px;
  padding: 10px;
  margin: 5px; }

.traductoras {
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  color: white; }

.estiloTabla {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 10px;
  font-size: 1.8rem;
  background-color: #D8CBBB;
  border: #301B3F solid; }

.encabezadoTabla {
  background-color: #BB8FA9; }

.link {
  color: black; }

.botonMorado {
  background-color: #726A95; }

.botonGris {
  background-color: #B4A5A5; }

.contacto {
  padding: 10px;
  line-height: 20px;
  margin: 10px;
  line-height: 30px;
  font-size: 2rem; }
