* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; }

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header img, footer img {
    width: 70px;
    height: 70px;
    margin: 10px; }
  header nav, footer nav {
    align-items: center;
    font-size: 2rem;
    color: white; }
    header nav ul, footer nav ul {
      align-items: center;
      font-size: 2rem;
      color: white; }
      header nav ul li, footer nav ul li {
        justify-content: right;
        align-items: center;
        font-size: 3rem;
        color: white;
        font-weight: bold;
        text-shadow: 2px 2px 2px #B4A5A5;
        text-decoration: none;
        list-style: none;
        padding: 8px; }
      header nav ul li:hover, footer nav ul li:hover {
        cursor: pointer;
        transition: 1s;
        text-shadow: none;
        text-decoration: underline; }

.nav-link {
  color: white;
  text-decoration: none; }
  .nav-link:hover {
    color: #301B3F; }

div a {
  cursor: pointer; }

.navbar-toggler {
  color: white;
  background-color: #B4A5A5; }

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 8rem;
  justify-items: center;
  font-family: sp, serif; }

.textos, .textoSubtitulo {
  word-spacing: 5px;
  margin: 5px;
  text-align: justify; }

.textoSubtitulo {
  font-size: 4rem;
  line-height: 70px;
  text-align: left; }

.textoPar {
  font-size: 2rem;
  line-height: 22px; }

.gradiente {
  background-image: linear-gradient(to bottom, #560764, #BB8FA9, #D8CBBB, #EEEEEE); }

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  color: #301B3F;
  font-size: 4rem; }
  footer a {
    color: #301B3F;
    text-decoration: none; }

.cards {
  display: flex;
  align-content: space-between;
  width: 400px;
  margin: 10px;
  padding: 5px;
  background-color: #D8CBBB;
  justify-content: center; }

.fotoTraductora {
  border-radius: 30px;
  padding: 10px;
  margin: 5px; }

.estiloTabla {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 10px;
  font-size: 12rem;
  background-color: #D8CBBB;
  border: #301B3F solid; }

.encabezadoTabla {
  background-color: #BB8FA9;
  font-size: 5rem; }

.link {
  color: black; }

.btn-primary {
  background-color: #726A95;
  border-radius: 20%;
  border-color: #726A95;
  font-size: 1.5rem;
  margin: 5px;
  padding: 6px; }

.btn-secondary {
  background-color: #B4A5A5;
  border-radius: 20%;
  border-color: #B4A5A5;
  font-size: 1.5rem;
  margin: 5px;
  padding: 6px; }

.contacto {
  padding: 10px;
  line-height: 20px;
  margin: 10px;
  line-height: 30px;
  font-size: 7rem; }
