.cards{
    display: flex;
    align-content: space-between;
    width: 400px;
    margin: 10px;
    padding: 5px;
    background-color: #D8CBBB;
    justify-content:center
}
.fotoTraductora{
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
}
.estiloTabla{
    display: flex;
    align-items: center;
    text-align:left;
    @include txt(tabla);
}
.encabezadoTabla{
    background-color: #BB8FA9;
    font-size: 4rem;
}
.link{
    color: black;
}