.cards{
    display: flex;
    align-content: space-between;
    width: 400px;
    margin: 10px;
    padding: 5px;
    background-color: #D8CBBB;
    justify-content:center
}
.fotoTraductora{
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
}
.estiloTabla{
    display: flex;
    align-items: center;
    text-align:left;
    margin: 10px;
    font-size: 12rem;
    background-color: #D8CBBB;
    border: #301B3F solid;
}
.encabezadoTabla{
    background-color: #BB8FA9;
    font-size: 5rem;
}
.link{
    color: black;
}
// MAPAS
$colores: ("primary":#726A95, "secondary":#B4A5A5);
@each $botones, $color in $colores {
    .btn-#{$botones}{
        background-color: $color;
        border-radius: 20%;
        border-color:$color;
        font-size: 1.5rem;
        margin: 5px;
        padding: 6px;
    }
    
}