.cards{
    display: flex;
    align-content: space-between;
    width: 400px;
    margin: 10px;
    padding: 5px;
    background-color: #D8CBBB;
    justify-content:center
}
.fotoTraductora{
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
}
.traductoras{
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    color: white;
}
.estiloTabla{
    display: flex;
    align-items: center;
    text-align:left;
    margin: 10px;
    font-size: 1.8rem;
    background-color: #D8CBBB;
    border: #301B3F solid;
}
.encabezadoTabla{
    background-color: #BB8FA9;
}
.link{
    color: black;
}
.botonMorado{
    background-color: #726A95;
}
.botonGris{
    background-color: #B4A5A5;
}