footer{
    @extend header;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
    color: #D8CBBB;
    font-size: 4rem;
    background-color: #261C2C;
    a{
        color:#D8CBBB;
        text-decoration: none;
    }
}