// HEADER
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 70px;
        height: 70px;
        margin: 10px;
    }
    nav{
        align-items: center;
        font-size: 2rem;
        color: white;
            ul{
                align-items: center;
                font-size: 2rem;
                color: white;
                li{
                    justify-content: right;
                    align-items: center;
                    font-size: 3rem;
                    color: white;
                    font-weight: bold;
                    text-shadow: 2px 2px 2px #B4A5A5;
                    text-decoration:none;
                    list-style: none;
                    padding: 8px;
                }
                li{
                    &:hover{
                        cursor: pointer;
                        transition: 1s;
                        text-shadow: none;
                        text-decoration: underline;
                    }
                }
                
            }
    }
}
.nav-link{
    color: white;
    text-decoration: none;
    &:hover{
        color: #301B3F;
    }
}
div a{
    cursor: pointer;
}
.navbar-toggler{
    background-color: #B4A5A5;
    color: #301B3F;
}