h1{
    color: #ffffff;
    text-align:center;
    font-family: peg;
    font-size: 10rem;
    justify-items: center;
}
.textoSubtitulo{
    font-size: 3rem;
    word-spacing: 5px;
    line-height: 70px;
    text-align: left;
}
.textoPar{
    font-size: 2rem;
    word-spacing: 5px;
    line-height: 22px;
    text-align: justify;
}