h1{
    color: #ffffff;
    text-align:center;
    font-size: 10rem;
    justify-items: center;
    font-family: sp, serif;
}
.textos{
    word-spacing: 5px;
    margin: 5px;
    text-align: justify;
}
.textoSubtitulo{
    @extend .textos;
    font-size: 5rem;
    line-height: 70px;
    text-align: left;
}
.textoPar{
    font-size: 2rem;
    line-height: 22px;
}
.gradiente{
    background-image: linear-gradient(to bottom, #560764, #BB8FA9, #D8CBBB, #EEEEEE);
}